<script language='javascript'>
  function checkvalue() {
    if (check.pass1.value && check.password.value) {
      if (check.pass1.value != check.password.value) {
        check.status.value = "일치하지 않습니다";
      } else {
        check.status.value = "일치합니다";
      }
    } else {
      check.status.value = "비밀번호를 입력해 주세요";
    }
  }
  function flag() {
    if (check.name.value && check.email.value && check.pass1.value && check.password.value && check.description.value
        && check.pass1.value === check.password.value) {
      return true;
    } else {
      alert('입력을 확인해주세요..');
    }
    return false;
  }

  function put() {
    if (flag()) {
      $.ajax({
        url: "/account/account_user/" + check.id.value,
        type: "put",
        dataType: 'json',
        data: {
          id: check.id.value,
          name: check.name.value,
          email: check.email.value,
          description: check.description.value,
          password: check.password.value,
          role: check.role.value
        }, success: (result) => {
          window.location.href = '/account';
        }
      });
    }
  }

  window.onload = () => {
    const value = decodeURIComponent("{{role}}");
    $('#InputRole').val(value);
  };
</script>

<article class="container">
    <div class="page-header">
        <h1>회원 정보
            <small>Wisoft IoT Platform</small>
        </h1>
    </div>
    <div class="col-md-12 col-md-offset-0 register">
        <form name="check" id="register_form" onsubmit="return flag()">
            <div class="form-group">  <label for="InputRole">권한</label> 
                <select id="InputRole" name="role" class="form-control">
                    <option value="ROLE_USER">ROLE_USER</option>
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                </select>
            </div>
            <div>
                <input type="hidden" name="id" value="{{id}}">
            </div>
            <div class="form-group">
                <label for="InputId">사용자 ID</label>
                <input type="text" class="form-control" id="InputId" disabled value="{{username}}">
            </div>
            <div class="form-group">
                <label for="InputName">이름</label>
                <input type="text" class="form-control" name="name" id="InputName" value="{{name}}">
            </div>
            <div class="form-group">
                <label for="InputEmail">이메일</label>
                <input type="text" class="form-control" name="email" id="InputEmail" value="{{email}}" maxlength="50"
                       placeholder="필수 항목 / 50자 이내">
            </div>
            <div class="form-group">
                <label for="InputPassword1">비밀번호</label>
                <input type="password" class="form-control" id="InputPassword1" name="pass1" maxlength="255"
                       placeholder="필수 항목 / 255자 이내" onkeyup="checkvalue();">
            </div>
            <div class="form-group">
                <label for="InputPassword2">비밀번호 확인</label>
                <input type="password" class="form-control" id="InputPassword2" name="password" maxlength="255"
                       placeholder="필수 항목 / 255자 이내" onkeyup="checkvalue();">
                <input type="text" class="margin-top col-md-5" style="color:red;" name="status" readonly
                       onkeyup="this.blur();" disabled value="비밀번호를 입력해 주세요">
            </div>
            <br>
            <div class="form-group">
                <label for="Introduction">가입 날짜</label>
                <input type="text" class="form-control" id="InputJoinDate" disabled value="{{joined}}" >
            </div>
            <div class="form-group">
                <label for="Introduction">갱신 날짜</label>
                <input type="text" class="form-control" id="InputUpDate" disabled value="{{updated}}">
            </div>
            <div class="form-group">
                <label for="Introduction">소개</label>
                <input type="text" class="form-control" name="description" id="Introduction" maxlength="250"
                       placeholder="회원에 대한 설명을 입력해 주세요. / 250자 이내" value="{{description}}">
            </div>
            <div class="form-group text-center"> 
                <button type="button" class="btn btn-info" form="register_form" onclick="put()">수정<i  class="fa fa-check
                    spaceLeft"></i>
                </button>
                <button type="button" class="btn btn-warning" onclick="location.href='/account'">취소<i  class="fafa-times
                    spaceLeft"></i></button>
            </div>
        </form>
    </div>
</article>