<script language='javascript'>
  function flag() {
    let store = ['마루', '황돈이', '오뚜기식당', '고래떡볶이', '봉구스밥버거', '몽떡', '봉스키친', '하카타', '스시킴', '보니타', '더쿡', '솔트앤페퍼'];
    let flag = false;
    for (var i = 0; i < store.length; i++) {
      if(check.storeName.value === store[i].toString()){
        flag = true;
        console.log(flag);
      }
    }

    if (check.uId.value && check.subject.value && check.star.value && flag) {
      return true;
    } else {
      alert('입력을 확인해주세요..');
    }
    return false;
  }
</script>

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1.0"/>

    <title>한밭대 Tasty Road</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/style.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/side.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/vendor/jquery/cookie.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <article class="container">
                <div class="page-header">
                    <h1>리뷰 등록
                        <small>리얼 후기를 등록해주세요.</small>
                    </h1>
                </div>
                <div class="col-md-12 col-md-offset-0 register">
                    <form name="check" id="register_form" onsubmit="return flag();" method="post"
                          action='/api/board/boardAll/add'>
                        <div class="form-group">
                            <label for="InputId">식당명</label>
                            <input type="text" class="form-control" name="storeName"
                                   id="InputStoreName" minlength="1" maxlength="15"
                                   placeholder="필수 항목 / 15자 이내">
                        </div>
                        <div class="form-group">
                            <label for="InputId">ID</label>
                            <input type="text" class="form-control" name="uId" id="InputId"
                                   minlength="5" maxlength="15"
                                   placeholder="필수 항목 / 15자 이내">
                        </div>
                        <div class="form-group">
                            <label for="InputId">내용</label>
                            <input type="text" class="form-control" name="subject" id="InputSubject"
                                   maxlength="300"
                                   placeholder="필수 항목 / 300자 이내 / ex) 가게이름 : 내용 ">
                        </div>
                        <div class="form-group">
                            <label for="InputId">평점</label>
                            <input type="text" class="form-control" name="star" id="InputStar"
                                   minlength="1" maxlength="1"
                                   placeholder="필수 항목 / 1~5 사이 숫자 입력">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-info" form="register_form">등록<i
                                    class="fa fa-check spaceLeft"></i></button>
                            <button type="button" class="btn btn-warning"
                                    onclick="location.href='/api/board/boardAll'">취소<i
                                    class="fa fa-times spaceLeft"></i></button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>
</body>
</html>